<div class="root">
  <div class="votes">
    <div class="votes__value">{{ article.votes }}</div>
    <div class="votes__label">Points</div>
  </div>
  <div class="main">
    <div class="info">
      <a class="title" href="{{ article.link }}">
        <h2>{{ article.title }}</h2>
        <small>{{ article.domain() }}</small>
      </a>
      <div class="description">{{ article.description }}</div>
    </div>

    <ul class="actions">
      <li class="actions__item button upVote" (click)="voteUp()">up vote</li>
      <li class="actions__item button downVote" (click)="voteDown()">down vote</li>
    </ul>
  </div>
</div>
