.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 20px;
  flex: 1;
}

.add-link-form {
  display: block;
  margin-bottom: 20px;
}

.article {
  display: block;
}

.article:not(:last-child) {
  margin-bottom: 20px;
}
